bin/
build/
html/
include/yaml-cpp/
include/boost/
input/
output*/
lib/
scratch/
tmp/
tools/clang-format
*.o

# Ignore simulation outputs
/*.dat

# Ignore Mac specific files
.DS_Store

# Ignore vim ctags file
.tags

# Ignore VSCode stuff
.vscode/
