bin/
build/
html/
include/yaml-cpp/
include/boost/
include/gtest/
include/gmock/
input/
output*/
lib/
scratch/
tmp/
tools/clang-format
*.o

# Ignore simulation outputs
/*.dat

# Ignore Mac specific files
*.DS_Store

# Ignore vim tags file
.tags
GPATH
GRTAGS
GTAGS

# Ignore VSCode stuff
.vscode/
